/**
 * Accordion
 */

.accordion__header {
  display: flex;
  justify-content: space-between;
  border: 1px solid $color-gray-4;
  border-radius: 3px;
  background-color: $color-gray-5;
  cursor: pointer;
  padding: .25rem .75rem;

  &:hover {
    background-color: $color-gray-4;
  }

  &::after {
    float: right;
    color: $color-gray-2;
    content: '+';
  }

  &.-active {
    background-color: $color-gray-4;
    &::after {
      content: '-';
    }
  }
}

.accordion__body {
  padding-left: .75rem;
}
