/**
 * Accordion
 */

.accordion__header {
  display: flex;
  justify-content: space-between;
  border: 1px solid $color-gray-3;
  border-radius: rem($input-border-radius);
  box-shadow: $btn-shadow;
  background-color: $color-gray-5;
  cursor: pointer;
  padding: rem(7px) .75rem rem(5px);
  color: inherit;
  font-size: rem($type-scale-1);

  &:hover {
    background-color: $color-gray-4;
    color: inherit;
  }

  &::after {
    float: right;
    color: $color-gray-3;
    content: '+';
  }

  &.-active {
    background-color: $color-gray-4;

    &::after {
      content: '-';
    }
  }
}

.accordion__body {
  position: relative;
  padding-left: .75rem;

  &.-hidden {
    display: block;
    opacity: .3;
    margin-bottom: rem($drop-margin);
    height: rem(26px);
    overflow-y: hidden;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(transparent, $color-white);
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}
