/**
 * Button
 */

.btn {
  display: inline-block;
  position: relative;
  border: 1px solid $color-gray-3;
  border-radius: rem($input-border-radius);
  box-shadow: $btn-shadow;
  background-color: $color-white;
  cursor: pointer;
  padding: rem(11px) 1.25rem rem(9px);
  line-height: 1;
  color: $color-gray-1;
  font-size: rem($type-base);
  -webkit-appearance: none;

  &:hover {
    color: $color-gray-1;
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &:not([disabled]) {
    &:hover, &:active, &:focus {
      background-color: $color-gray-4;
      text-decoration: none;
    }

    &:active {
      top: 2px;
      box-shadow: none;
    }

    &.-active {
      border-color: transparent;
      box-shadow: $btn-shadow-dark;
      background-color: $color-gray-1;
      text-decoration: none;
      color: $color-white;
    }
  }
}

.btn--primary {
  border-color: transparent;
  box-shadow: $btn-shadow-dark;
  background-color: $color-anchor;
  color: $color-white;

  &:not([disabled]) {
    &:hover, &:active, &:focus, &.-active {
      background-color: $color-anchor-hover;
      color: $color-white;
    }
  }
}

.btn--destructive {
  &:not([disabled]) {
    &:hover, &:active {
      border-color: transparent;
      box-shadow: $btn-shadow-dark;
      background-color: $color-error;
      color: $color-white;
    }
  }
}

.btn--favorite {
  &:not([disabled]) {
    &.-active {
      border-color: transparent;
      background-color: $color-success;
      color: $color-white;
    }
  }
}

.btn--small {
  padding: rem(7px) .75rem rem(5px);
}
