/**
 * Button
 */

.btn {
  display: inline-block;
  position: relative;
  transition-duration: .12s;
  transition-property: border, background-color, color;
  border: 1px solid $color-gray-3;
  border-radius: 3px;
  background-color: $color-white;
  cursor: pointer;
  padding: rem(11px) 1.5rem rem(9px);
  line-height: 1;
  color: $color-gray-1;
  font-size: rem($type-base);
  -webkit-appearance: none;

  &:hover {
    color: $color-gray-1;
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &:not([disabled]) {
    &:hover, &:active, &:focus, &.-active {
      border-color: transparent;
      background-color: $color-gray-1;
      text-decoration: none;
      color: $color-white;
    }

    &:active {
      top: 2px;
    }
  }
}

.btn--primary {
  border-color: transparent;
  background-color: $color-anchor;
  color: $color-white;

  &:not([disabled]) {
    &:hover, &:active, &:focus, &.-active {
      background-color: $color-anchor-hover;
    }
  }
}

.btn--destructive {
  background-color: $color-error;

  &:hover, &:active {
    background-color: $color-error-hover;
  }
}

.btn--favorite {
  &:not([disabled]) {
    &.-active {
      background-color: $color-success;
    }
  }
}

.btn--small {
  padding: rem(7px) .75rem rem(5px);
}
