/**
 * Footer
 */

.footer {
  background-color: $color-gray-4;
  padding-top: rem($drop-margin);
  padding-bottom: rem($drop-margin * 2);
  text-align: center;
}

.footer--condensed {
  @include bp-gt($bp-lg) {
    padding-top: rem($drop-margin / 2);
    padding-bottom: rem($drop-margin / 2);
  }
}
