/**
 * Header
 */

.header {
  background-color: $color-gray-4;
}

.header-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header-title {
  padding: rem($drop-margin) 0 1rem;
  color: inherit;
  font-family: $font-secondary;
  font-size: rem($type-scale-3);
  font-weight: 600;
}

.header-nav {
  flex-shrink: 0;

  ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: rem($drop-margin) 0 1rem 1.5rem;

    &.-active {
      color: $color-text;

      &:hover {
        text-decoration: none;
      }
    }

    li:last-child & {
      padding-right: 0;
    }
  }
}
