/**
 * Header
 */

.header {
  position: relative;
  background-color: $color-gray-4;
}

.header-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header-title {
  padding: rem($drop-margin * 1.5) 0 rem($drop-margin);
  color: inherit;
  font-family: $font-secondary;
  font-size: rem($type-scale-4);
  font-weight: 600;
}

.header-nav {
  flex-shrink: 0;

  ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 1rem 0 rem($drop-margin) 1.5rem;

    &.-active {
      color: $color-text;

      &:hover {
        text-decoration: none;
      }
    }

    li:last-child & {
      padding-right: 0;
    }
  }
}

.header-status {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: rem($drop-margin);
  padding-right: rem($l-wrap-padding);
  color: $color-gray-1;
  font-size: rem($type-scale-0);
}
