/**
 * Helper Classes
 */

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.clear {
  clear: both;
}

.fill-width {
  width: 100%;
}

.drop {
  margin-bottom: rem($drop-margin);
}

.drop-sm {
  margin-bottom: rem($drop-margin / 2);
}

.no-drop {
  margin-bottom: 0;
}

.split {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-success {
  color: $color-success;
}

.text-error {
  color: $color-error;
}

.text-or {
  margin-right: 1rem;
  margin-left: 1rem;
}

.notice {
  background-color: $color-gray-4;
  padding: rem(11px) rem($grid-gutter) rem(9px);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

// Lets screen reader to describe non-text elements
.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  direction: ltr;
  clip: rect(0 0 0 0);
}

.a-inherit {
  color: inherit;
}

.a-lite {
  color: $color-gray-1;
}

// Sort link
.a-sort {
  margin-left: .5rem;

  &.-active {
    color: $color-black;
    font-weight: bold;

    &::after {
      display: inline-block;
      position: relative;
      top: rem(-1px);
      margin-left: rem(4px);
      border: rem(5px) solid transparent;
      border-bottom: rem(8px) solid $color-black;
      content: '';
    }
  }

  &.-alt::after {
    border-top: rem(8px) solid $color-black;
    border-bottom: 0;
  }
}
