/**
 * List
 */

.list {
  padding-left: 0;
  list-style: none;
}

.list__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-gray-4;
  padding: rem($drop-margin / 2 - 1) 0 rem($drop-margin / 2);

  &:first-of-type {
    border-top: 1px solid $color-gray-4;
  }

  @include bp-gt($bp-sm) {
    flex-direction: row;
  }
}

.list__content {
  display: flex;
  width: 100%;
}

.list__thumbnail {
  align-self: start;
  margin-right: rem($grid-gutter);
  background-color: $color-gray-4;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: rem(64px);

  &::after {
    display: block;
    padding-top: 100%;
    content: '';
  }

  @include bp-gt($bp-sm) {
    align-self: inherit;
    max-width: rem(96px);

    &::after {
      padding-top: 66.6666%;
    }
  }
}

.list__thumbnail--person {
  align-self: center;
  border-radius: 50%;
  max-width: rem(44px);
  min-height: 0;

  &::after {
    padding-top: 100%;
  }
}

.list__text {
  align-self: center;
  width: 100%;
}

.list__cta {
  align-self: flex-start;
  margin-top: rem($drop-margin / 2);

  @include bp-gt($bp-sm) {
    align-self: center;
    margin-top: 0;
    margin-left: rem($grid-gutter);
  }
}

.list-sort {
  display: flex;
  flex-direction: column;

  @include bp-gt($bp-sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}
