/**
 * Listing Page
 */

.listing__photo {
  background-color: $color-gray-4;
  padding: .25rem;
  text-align: center;
}

.listing__profile {
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: $color-gray-4;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: rem(160px);

  &::after {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.listing__map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem($drop-margin / 2);
  background-color: $color-gray-4;
  color: $color-gray-1;

  &::after {
    display: block;
    padding-top: 66.6666%;
    content: '';
  }
}
